@model IEnumerable<ETicaretPlatformu.Application.Models.VMs.CatagoryVM.CatagoryVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            padding-top: 20px;
        }

        .container {
            max-width: 800px;
            margin: auto;
        }

        .btn-create {
            margin-bottom: 20px;
        }

        .table {
            background-color: #fff;
        }

        th,
        td {
            vertical-align: middle;
        }

        .btn-action {
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Category List</h1>
        <div class="text-right">
            <a asp-action="Create" asp-area="Admin" asp-controller="Category" class="btn btn-danger btn-create">Create New</a>
        </div>

        <div class="card-body">
            <table id="datatablesSimple" class="table table-striped">
                <thead>
                    <tr>
                        @* <th scope="col">ID</th> *@
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @* <td>@Html.DisplayFor(modelItem => item.Id)</td> *@
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>
                                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary btn-action">Update</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-action">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-action">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
