@using ETicaretPlatformu.Application.Models.DTOs.OrderDto
@using ETicaretPlatformu.Domain.Entities
@using ETicaretPlatformu.Domain.Enums
<link href="~/css/orderDetail.css" rel="stylesheet">
@model OrderVm
@{
    ViewData["Title"] = "Details";
}


<div class="container-fluid">

    <div class="container">
        <!-- Title -->
        <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #@Model.Id</h2>
        </div>

        <!-- Main content -->
        <div class="row">
            <div class="col-lg-8">
                <!-- Details -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <div>
                                <span class="me-3">@Model.CreateDate</span>
                                <span class="me-3">#@Model.Id</span>


                                @switch (Model.OrderStatus)
                                {
                                    case OrderStatus.Pending:
                                        <span class="badge rounded-pill bg-danger bg-opacity-75">WAITING FOR CONFIRMATION</span>
                                        break;
                                    case OrderStatus.Confirmed:
                                        <span class="badge rounded-pill bg-warning">CONFIRMED</span>
                                        break;
                                    case OrderStatus.Shipping:
                                        <span class="badge rounded-pill bg-info">SHIPPING</span>
                                        break;
                                    case OrderStatus.Completed:
                                        <span class="badge rounded-pill bg-success">COMPLETED</span>
                                        break;
                                }
                                
                            </div>

                        </div>
                        <table class="table table-borderless">
                            <tbody>
                                @{
                                    decimal sumPrice = 0;
                                }
                                @foreach (OrderDetailVm vm in Model.OrderDetails)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                <div class="flex-shrink-0">
                                                    <img src="@vm.Product.ImagePath" alt="" width="35" class="img-fluid">
                                                </div>
                                                <div class="flex-lg-grow-1 ms-3">
                                                    <h6 class="small mb-0"><a href="#" class="text-reset"><b>@vm.Product.Name</b></a></h6>
                                                    <span class="small">$@vm.Product.Price  </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td> @vm.Quantity</td>
                                        @{

                                            decimal price = vm.Product.Price * @vm.Quantity;
                                            sumPrice += price;
                                        }
                                        <td class="text-end">$@price</td>
                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">Subtotal</td>
                                    <td class="text-end">$@sumPrice</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Shipping</td>
                                    <td class="text-end">$00.00</td>
                                </tr>
                                <tr class="fw-bold">
                                    <td colspan="2">TOTAL</td>
                                    <td class="text-end">$@sumPrice</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- Payment -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="h6">Payment Method</h3>
                                <p>
                                    Visa -1234 <br>
                                    Total: $@sumPrice <span class="badge bg-success rounded-pill">PAID</span>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="h6">Billing address</h3>
                                <address>
                                    <strong>John Doe</strong><br>
                                    1355 Market St, Suite 900<br>
                                    San Francisco, CA 94103<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Customer Notes -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="h6">Customer Notes</h3>
                        <p>Sed enim, faucibus litora velit vestibulum habitasse. Cras lobortis cum sem aliquet mauris rutrum. Sollicitudin. Morbi, sem tellus vestibulum porttitor.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- Shipping information -->
                    <div class="card-body">
                        <h3 class="h6">Shipping Information</h3>
                        <strong>FedEx</strong>
                        <span><a href="#" class="text-decoration-underline" target="_blank">FF1234567890</a> <i class="bi bi-box-arrow-up-right"></i> </span>
                        <hr>
                        <h3 class="h6">Address</h3>
                        <address>
                            <strong>John Doe</strong><br>
                            1355 Market St, Suite 900<br>
                            San Francisco, CA 94103<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>