﻿@{
    var successMessage = TempData["Success"] as string;
}
@{
    var errorMessage = TempData["Error"] as string;
}
@{
    //***Kullanici adi 5 harften uzunsa ilk 5 harfini kullan***
    var userName = User.Identity.Name;
    var displayedName = string.IsNullOrEmpty(userName) ? "Guest" : (userName.Length > 5 ? userName.Substring(0, 5) + ".." : userName);
    
}

@inject ETicaretPlatformu.Application.Services.CartService.ICartService _cartService
@inject ETicaretPlatformu.Application.Services.UserService.IUserService _userService


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ETicaretPlatformu.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ETicaretPlatformu.UI.styles.css" asp-append-version="true" />
    @* <link href="~/Shop-Home-Page/css/styles.css" rel="stylesheet" /> *@
    <link rel="icon" type="image/x-icon" href="~/Shop-Home-Page/assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<script>

    $(document).ready(function () {
        // Call updateCartBadge when the page loads
        updateCartBadge();

        // Listen for the 'productAddedToCart' event and update the cart badge
        $(document).on('productAddedToCart', function () {
            updateCartBadge();
        });
    });

    // Function to update the cart badge using AJAX
    function updateCartBadge() {
        var userName = '@User.Identity.Name'; // Get the current user's name
        $.ajax({
            url: '@Url.Action("GetCartItemCount", "Cart")',
            method: 'GET',
            data: { userName: userName }, // Pass the user name to the controller action
            success: function (count) {
                console.log("Badge güncellendi");
                $('.cart-badge').text(count); // Update the text of the cart badge
            },
            error: function (xhr, status, error) {
                console.error('An error occurred while fetching the cart item count:', error);
            }
        });
    }
</script>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container px-4 px-lg-5 d-lg-flex justify-content-between align-items-center ">
                <div class="d-flex flex-row align-items-center">
                    <a class="my-navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa-brands fa-shopify fa-xl" style="color: #74C0FC;"></i>
                    </a>
                    <button class="btn hero-btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                        <i class="bi-list">Categories</i>
                    </button>
                </div>


                <div class="d-flex flex-row align-items-center">
                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="dropdown">
                                <a class="btn  dropdown-toggle navbar-item" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user fa-fw text-primary"></i> @displayedName
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a></li>
                                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Edit" asp-route-userName="@User.Identity.Name">Edit</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" asp-controller="Order" asp-action="Index">My Orders</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li><a class="dropdown-item" asp-controller="Order" asp-action="Index">My Orders</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Edit" asp-route-userName="@User.Identity.Name">Edit</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="dropdown">
                                <a class="btn  dropdown-toggle navbar-item" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user fa-fw text-dark"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a></li>
                                    
                                </ul>
                            </div>                            
                        }
                    </div>
                    <div>
                        <form class="d-flex ms-lg-4" asp-controller="Cart" asp-action="Index" asp-route-userName="@User.Identity.Name">
                            <button class="btn navbar-item  ml-auto" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Cart
                                <span class="badge bg-dark text-white ms-1 rounded-pill cart-badge"></span>
                            </button>
                        </form>

                    </div>
                </div>

            </div>
        </nav>
    </header>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
        <div class="offcanvas-header bg-primary text-white">
            <h5 class="offcanvas-title" id="sidebarLabel">Categories</h5>
            <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas" aria-label="Kapat"></button>
        </div>
        <div class="offcanvas-body " style="background-color: #f8f9fa;">

            <ul class="list-unstyled text-center" style="font-size: 1.2rem;">
                @await Component.InvokeAsync("CategoryMenu") @* ViewComponent *@
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <main role="main" class="pb-3">

            <div id="notification-area">
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ETicaretPlatformu.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script>//Sayfaya gonderilen hata mesajlari icin
        var successMessage = '@(successMessage != null ? successMessage : "")';
        if (successMessage.trim() !== "") {
            showNotification('success', successMessage);
        }

        var errorMessage = '@(errorMessage != null ? errorMessage : "")';
        if (errorMessage.trim() !== "") {
            showNotification('error', errorMessage);
        }
    </script>

    <script>//user dropdown menu acilirken navbar bozmamasi icin
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("navbarDropdown").addEventListener("click", function () {
                toggleUserDropdown();
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>