@model IEnumerable<ETicaretPlatformu.Application.Models.VMs.ProductVMs.ProductVM>


@foreach (var product in Model)
{
    <div class="col mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="@product.ImagePath" alt="Current Image" style="object-fit: cover; height: 250px;" />
            <div class="card-body p-4">
                <div class="text-center">
                    <h5 class="fw-bolder">@product.Name</h5>
                    <p class="card-text">$@product.Price</p>
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    <form asp-controller="Cart" asp-action="AddProductToCart" method="post">
                        <input type="hidden" name="userName" value="@User.Identity.Name" />
                        <input type="hidden" name="productId" value="@product.Id" />
                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.Path" />
                        <button type="submit" class="btn btn-outline-dark mt-auto">Add to Cart</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
}